/Kurssistatistiikka/.nb-gradle/
/ohtu-viikko3/.nb-gradle/
*/build/
*/.gradle/
.vscode
/HelloCucumber/.nb-gradle/
/LoginCucumber/.nb-gradle/
/WebLogin/.nb-gradle/
/ohtu-viikko4/MatkakorttiMockito/.nb-gradle/
/ohtu-viikko4/MatkakorttiMockito/build/
/ohtu-viikko4/Verkkokauppa1/.nb-gradle/
/ohtu-viikko4/Verkkokauppa1/build/
/ohtu-viikko5/IntJoukkoSovellus/.nb-gradle/
/ohtu-viikko5/IntJoukkoSovellus/build/