/Kurssistatistiikka/.nb-gradle/
/ohtu-viikko3/.nb-gradle/
*/build/
*/.gradle/
.vscode
/HelloCucumber/.nb-gradle/
/LoginCucumber/.nb-gradle/
/WebLogin/.nb-gradle/
/ohtu-viikko4/MatkakorttiMockito/.nb-gradle/